@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// Ajustes específicos para o layout mobile
@media (max-width: 768px) {
  .tips-list {
    .mobile-slider {
      display: block;
    }

    .static-tips-list {
      display: none;
    }

    .tips-list-title {
      font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24.34px;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 24px;
    }
    
    .tips {
      width: 298px !important;
      height: 64px;
      padding: 5px;
      background-color: #EFEFEF;
      border-radius: 4px;
      display: flex !important;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        max-width: 100%;
        max-height: 100%;
        margin-left: 26px;
        margin-right: 10px;
      }

      .tips-text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
      }

      h2 {
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin: 0;
        text-align: left;
        width: 100%;
      }

      p {
        font-size: 12px;
        color: #666;
        margin: 0;
        text-align: left;
        width: 100%;
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
      }
    }
    
    .slick-slide {
      display: flex;
      justify-content: center;
      padding: 0 5px;
      box-sizing: border-box;
      min-width: 0;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-list {
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
  }
}

@media (min-width: 1199px) and (max-width: 1519px) {

  .tips-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    
    .mobile-slider {
      display: none;
    }

    .static-tips-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .tips-list-title {
      font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24.34px;
      text-align: center;
      margin-bottom: 20px;
    }

    .tips {
      width: 298px;
      height: 64px;
      background: #fff;
      padding: 5px;
      box-sizing: border-box;
      background-color: #EFEFEF;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      h2 {
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #353535;
        font-weight: 700;
        margin: 0;
        text-align: left;
        width: 100%;
      }

      p {
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: black;
        text-align: left;
        width: 100%;
        margin: 0;
      }

      img {
        width: 32px;
        height: 32px;
        max-width: 100%;
        max-height: 100%;
        margin-left: 20px;
        margin-right: 15px;
      }
    }
  }

}

// Ajustes específicos para o layout desktop
@media (min-width: 1520px) {
  .tips-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    
    .mobile-slider {
      display: none;
    }

    .static-tips-list {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .tips-list-title {
      font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24.34px;
      text-align: center;
      margin-bottom: 20px;
    }

    .tips {
      width: 298px;
      height: 64px;
      background: #fff;
      padding: 5px;
      box-sizing: border-box;
      background-color: #EFEFEF;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      h2 {
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #353535;
        font-weight: 700;
        margin: 0;
        text-align: left;
        width: 100%;
      }

      p {
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: black;
        text-align: left;
        width: 100%;
        margin: 0;
      }

      img {
        width: 32px;
        height: 32px;
        max-width: 100%;
        max-height: 100%;
        margin-left: 20px;
        margin-right: 15px;
      }
    }
  }
}